#Educacion {
    padding: 20px;
    text-align: center;
    background-color: #f3f3f3;
}

.Educacion .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

.fila {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 30px auto;
}

 .fila .Educacion {
    max-width: 350px;
    background-color: #fff;
    padding: 30px;
    margin: 0 5px;
    border-radius: 5px;
    transition: .5s;
}

#Educacion .fila .Educacion:hover {
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}