<section class="col-lg-12" id="sobremi">
    <div class="contenedor-foto">
        <img src="../../../assets/img/perfil.png" class="img-fluid" id="perfil">
    </div>
    <div class="sobre mi">
        <p class="titulo-seccion"><h2>Sobre Mi</h2>
        <h2 id="nombre">Hola, soy {{persona.nombre}} {{persona.apellido}} </h2>
        <h4>Full Stack Developer Jr.</h4>
        <p>Soy de Mar del plata, Buenos Aires, Argentina.<br> Estudio la Licenciatura en Fisica en la Universidad Nacional de Mar del Plata.</p>
    </div>
</section>