<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#ffab66'"
            [innerStrokeColor]="'#ffc08c'"
            [animation]="true"
            [animationDuration]="600"
></circle-progress> </div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="55"
        [radius]="100"
        [showUnits]="false"
        [title]="'CSS'"
        [titleColor]="'white'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#ffab66'"
        [innerStrokeColor]="'#ffc08c'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress> </div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="50"
        [radius]="100"
        [showUnits]="false"
        [title]="'Java Script'"
        [titleColor]="'white'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#ffab66'"
        [innerStrokeColor]="'#ffc08c'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress> </div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="20"
        [radius]="100"
        [showUnits]="false"
        [title]="'Inglés'"
        [titleColor]="'white'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#ffab66'"
        [innerStrokeColor]="'#ffc08c'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress> </div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="90"
        [radius]="100"
        [showUnits]="false"
        [title]="'Trabajo en Equipo'"
        [titleColor]="'white'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#ffab66'"
        [innerStrokeColor]="'#ffc08c'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress> </div> 
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="95"
        [radius]="100"
        [showUnits]="false"
        [title]="'Responsabilidad'"
        [titleColor]="'white'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#ffab66'"
        [innerStrokeColor]="'#ffc08c'"
        [animation]="true"
        [animationDuration]="600"
></circle-progress> </div></div>