/* *********************/
        /* seccion I N I C I O */
        /* *********************/
        
        .presentacion {
            background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../../../assets/img/fondo-inicio.jpg");
            background-size: cover;
            background-position: center center;
            height: 100vh;
        }
        
      p.bienvenida {
            max-width: 1000px;
            height: 100vh;
            margin: auto;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            letter-spacing: 5px;  
            font-size: 75px;
            text-align: center;
        }
        p.bienvenida span{
            font-size:  30px;
        }