img{
    width: 15%;
}
.redes{
    margin-right: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*iconos de la barra*/
i.fa-solid.fa-envelope:hover {
    color: rgb(176, 37, 37);

    }
    i.fa-brands.fa-github:hover{
        color: rgb(151, 149, 149);
    }
    .list-group {
        --bs-list-group-bg:transparent;
        --bs-list-group-border-color: transparent;
    }
    a {
        color:white
    }
    
  /** para la vista celular*/
  @media(max-width:575px){
.container-fluid{
    flex-direction: column;
  }
 .redes{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .redes.img{
    margin: 0.5em;
 }}